<template>
  <Layout>
    <ClientOnly>
      <!-- Learn how to use images here: https://gridsome.org/docs/images -->
      <h1>Hello, world!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
        excepturi labore tempore expedita, et iste tenetur suscipit explicabo!
        Dolores, aperiam non officia eos quod asperiores
      </p>
      <i-button variant="dark">
        <v-icon name="ambulance" scale="2"></v-icon>
      </i-button>
      <i-button variant="danger">
        <v-icon name="cross"></v-icon>
      </i-button>
      <i-button variant="secondary">
        <v-icon name="viruses"></v-icon>
      </i-button>
    </ClientOnly>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Hello, world!",
  },
  methods: {},
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}

button {
  border: none;
  outline: none;
  width: 100px;
  height: 2rem;
  font-weight: 600;
  border-radius: 1rem;
}
</style>
