<template>
  <div>
    <i-navbar variant='dark'>
      <i-navbar-items>
        <i-nav>
          <g-link to="/">{{ $static.metadata.siteName }}</g-link>
          <i-nav-item>
            <g-link class="nav__link" to="/">Home</g-link>
          </i-nav-item>
          <i-nav-item>
            <g-link class="nav__link" to="/about/">About</g-link>
          </i-nav-item>
          <i-nav-item>Contact Us</i-nav-item>
        </i-nav>
        <i-nav>
          <i-input class="item" placeholder="Search here">
          </i-input>
        </i-nav>
      </i-navbar-items>
    </i-navbar>
    <slot />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<style>
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.nav__link {
  margin-left: 20px;
}
</style>
